.panel-default>.panel-heading{
    background-color: #555555;
    color: whitesmoke;
}

.panel-default>.panel-body{
   background-color: rgba(255,250,240, 0.1);
}

hr{
    border-color: darkcyan;
}
.panel{
    box-shadow: 2px 2px 2px 2px #888888;
}


body{
    background: url('/img/cubes.png');
    background-repeat: repeat;
    padding-top: 70px;
}

table{
    background-color: white;
    overflow-x: auto;
    overflow-y: auto;
}

.panel-body{
    overflow: auto;
}

table th{
    background-color: #555555;
    color: whitesmoke;
}


.navbar-inverse .navbar-nav>li>a {
    color: whitesmoke;
}

.navbar-inverse .navbar-brand {
    color: whitesmoke;
}

.navbar-inverse {
    background-color: #555555;
    border-color: #555555;
}